"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

set number
set relativenumber


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" General""""""""""""""""""""""""""""""""""

" Plugins """""""""""""""""""""""""""""""""
" Find more examples here: https://jb.gg/share-ideavimrc
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
set ideajoin

" Add easymotion for ideavim plugin
set easymotion

" which key plugin
set which-key

" Keymap"""""""""""""""""""""""""""""""""
" Leader key map to spacebar
let mapleader = " "

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

" Set scroll to center
nmap <C-d> <C-d>zz
vmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
vmap <C-u> <C-u>zz

" Search to center"
" nmap n nzz
" nmap N nzz
" nmap * *zz
" nmap # #zz

" Move pane
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" Set nerdtree shortcut
map <leader>te :NERDTreeToggle<CR>

" for macos multicursor remap
map <C-N>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>
map g<C-N> g<A-N>

" Open file
map <leader>fo <Action>(GotoFile)

" Open command
map <leader>fp <Action>(GotoAction)

" Open search from path
map <leader>fs <Action>(FindInPath)

" Open symbols
map <leader>fd <Action>(GotoSymbol)

" goto declaration
nmap gd <Action>(GotoDeclaration)

" peak declaration
nmap gpd <Action>(QuickImplementations)

" goto implementation
nmap gI <Action>(GotoImplementation)

" goto reference
nmap gr <Action>(ShowUsages)

" code action
map <leader>a <Action>(ShowIntentionActions)

" format code
map <leader>fm <Action>(ReformatCode)

" rename symbol
map <leader>r <Action>(RenameElement)

" unsplit
map <C-w>q <Action>(Unsplit)

" toggle structure view
map <leader>o <Action>(ActivateStructureToolWindow)

" toggle errors
map <leader>e <Action>(ActivateProblemsViewToolWindow)

" toggle breakpoint
map <leader>b <Action>(ToggleLineBreakpoint)
