@import "mocha.css";

* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font Propo";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* General Module Styles */
#cpu,
#memory,
#disk,
#pulseaudio,
#custom-brightness,
#bluetooth,
#clock,
#tray,
#workspaces,
#taskbar,
#custom-power,
#custom-launcher,
#custom-wallpaper,
#custom-updates,
#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
}

/* Left Modules */
#custom-launcher {
    font-size: 24px;
    padding-right: 5px;
    color: @sky;
    background: @surface0;
}

#cpu {
    color: @surface0;
    background: @blue;
}

#memory {
    color: @surface0;
    background: @mauve;
}

#disk {
    color: @surface0;
    background: @maroon;
}

#tray {
    color: @teal;
    background: @surface0;
}

/* Center Modules */
#workspaces {
    margin-right: 8px;
    color: @surface0;
    background: @surface1;
}

#workspaces button {
    transition: linear;
    color: @teal;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#workspaces button.active {
    color: @red;
}

#workspaces button.focused {
    background: @green;
    color: @surface1;
    transition: linear;
}

#taskbar {
    margin-right: 8px;
    background: @surface0;
}

/* Right Modules */
#pulseaudio {
    color: @surface1;
    background: @yellow;
}

#custom-brightness {
    color: @surface0;
    background: @peach;
}

#bluetooth {
    color: @surface0;
    background: @sky;
}

#clock {
    color: @surface0;
    background: @green;
}

#custom-power {
    font-size: 20px;
    margin-right: 8px;
    padding-right: 5px;
    color: @surface0;
    background: @red;
}

/* Unused or other specific styles */
#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: @text;
    background: transparent;
}

#tags {
    margin-top: 6px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @surface0;
    transition: none;
}

#tags button {
    transition: none;
    color: @teal;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#tags button.occupied {
    transition: none;
    color: @red;
    background: transparent;
    font-size: 4px;
}

#tags button.focused {
    color: @green;
    border-top: 2px solid @green;
    border-bottom: 2px solid @green;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @peach;
    border-color: @maroon;
    color: @maroon;
}

#tags button.focused:hover {
    color: @maroon;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @surface0;
    background: @mauve;
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: @surface0;
    background: @teal;
}

#battery.charging,
#battery.plugged {
    color: @surface0;
    background-color: @teal;
}

#battery.critical:not(.charging) {
    background-color: @teal;
    color: @surface0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @teal;
    }
}

#custom-wallpaper {
    background: @lavender;
}

#custom-updates {
    background: @maroon;
}

#custom-media {
    background: @flamingo;
}


